<div class="web-location">
  <h1><%= @web_location %></h1>
</div>

<div class="main-content">
  <p><strong>Full name: </strong><%= @ticket.full_name %></p><br/>
  <p><strong>Email: </strong><%= @ticket.email %></p><br/>
  <p><strong>Phone number: </strong><%= @ticket.phone_number %></p><br/>
  <p><strong>Address: </strong><%= @ticket.address %></p><br/>
  <p><strong>Subject: </strong><%= @ticket.subject %></p><br/>
  <p><strong>Content: </strong><%= @ticket.content %></p><br/>
</div>