<%= form_for [:admins, @reward], :html => {multipart: true} do |f| %>

  <div class="input-field">
    <%= f.text_field :title, :id => 'title' %>
    <%= f.label 'Title', :for => 'title' %>
  </div>

  <div class="input-field">
    <%= f.text_field :slug, :id => 'slug' %>
    <%= f.label 'Slug', :for => 'slug' %>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <i class="material-icons left">cloud_upload</i>
      <span>Image</span>
      <%= f.file_field :image %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" value="<%= @reward.image_file_name %>">
    </div>
  </div>
  
  <%= f.cktext_area :content, :ckeditor => {toolbar: 'Full'} %>

  <div class="input-field">
    <%= f.text_area :summary, :id => 'summary', :class => 'materialize-textarea' %>
    <%= f.label 'Summary', :for => 'summary' %>
  </div>

  <%= f.button :class => "waves-effect waves-light btn teal" do %>
  <i class="material-icons left">save</i> Save
  <% end %>

<% end %>