<div id="user-page">
  <div class="container">
    <h1 class="big-title">User Manager</h1>
    <div class="row">
      <div class="col s12">
        <span><a href="#information" class="active">Information</a></span>
        <span><a href="#transaction">Transaction</a></span>
      </div>
      
      <div class="tabs-content">
        <div id="information" class="tab active">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="col s12 m12 l4">
              <h2>Change password</h2>
              <div class="row">
                <div class="col s12">
                  <%= f.password_field :current_password, :placeholder => "Current password" %>
                </div>
                <div class="col s12">
                  <%= f.password_field :password, :placeholder => "New password" %>
                </div>
                <div class="col s12">
                  <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
                </div>
              </div>
            </div>
            <div class="col s12 m12 l7 right">
              <h2>Update your information</h2>
              <div class="row">
                <div class="col s12 m12 l6">
                  <%= f.text_field :first_name, :placeholder => "First name" %>
                </div>
                <div class="col s12 m12 l6">
                  <%= f.text_field :last_name, :placeholder => "Last name" %>
                </div>
                <div class="col s12 m12 l6">
                  <%= f.text_field :phone_number, :placeholder => "Phone number" %>
                </div>
                <div class="col s12 m12 l6">
                  <%= f.text_field :email, :placeholder => "Email", :disabled => true %>
                </div>
                <div class="col s12 m12 l6">
                  <%= f.text_field :city, :placeholder => "City" %>
                </div>
                <div class="col s12 m12 l6">
                  <%= f.text_field :address, :placeholder => "Address" %>
                </div>
              </div>
            </div>
            <div class="col s12 center-align" style="border-top: 1px solid #b19261; padding-top: 10px">
              <%= f.button "Update", :class => 'btn' %>
            </div>
          <% end %>
        </div>
        <div id="transaction" class="tab">
          <%= render 'users/dashboard/transaction' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  var $act =  $('span>a').on('click', function(e)  {
    var attr = $(this).attr('href');

    $(attr).fadeIn(600)
           .siblings()
           .hide();

    $(this).addClass('active');

    $act.not(this)
        .removeClass('active');

    e.preventDefault();
  });
});
</script>
<%= devise_error_messages! %>